@use 'sass:map';
@use 'sass:color';
@use '../abstract' as abs;

.alert {
  padding: map.get(abs.$spacers, "3") map.get(abs.$spacers, "4");
  margin-bottom: map.get(abs.$spacers, "3");
  border: 1px solid transparent;
  border-radius: map.get(abs.$radii, "md");

  @each $name, $color in abs.$colors {
    &-#{$name} {
      background-color: color.adjust($color, $lightness: 40%);
      border-color: color.adjust($color, $lightness: 30%);
      color: color.adjust($color, $lightness: -20%);
    }
  }
}