@use 'sass:map';
@use '../abstract' as abs;

.code-block {
  background-color: map.get(abs.$colors, "slate-900");
  color: map.get(abs.$colors, "slate-100");
  padding: map.get(abs.$spacers, "3");
  border-radius: map.get(abs.$radii, "lg");
  font-family: 'Courier New', Courier, monospace;
  overflow-x: auto;
  font-size: 0.875rem;
}