@use 'sass:map';
@use '../abstract' as abs;

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: map.get(abs.$spacers, "3");
  padding-left: map.get(abs.$spacers, "3");

  // Loop through breakpoints to set max-widths
  @each $name, $width in abs.$breakpoints {
    @include abs.break($name) {
      max-width: $width;
    }
  }
}